.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../clouds-1840568_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}